{% extends "pm_app/base.html" %}

{% block title %}
Planificación semanal
{% endblock %}

{% block content %}

<h1>Planificación semanal</h1>

<table>
    <thead>
        <tr>
            <th>Día</th>
            <th>Momento</th>
            <th>Comida</th>
        </tr>
    </thead>

    <tbody>

        {% for planificacion in planificaciones %}
        <tr>
            <td>{{ planificacion.get_dia_display }}</td>
            <td>{{ planificacion.get_tipo_comida_display }}</td>
            <td>{{ planificacion.comida.nombre }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">
                No hay planificaciones registradas.
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}